.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #797D7F ;
}

.content-container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  height: 600px;
  margin: auto;
  background-color: #909497  ;
}

.column-1 {
  width: 45%;
  height: 550px;
  background-color: #979A9A  ;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  margin: 5px;
}

.filter label {
  margin-right: 10px;
}

.product-list {
  width: 90%;
  height: 90%;
  background-color: #A6ACAF;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: auto;
}

.product-list h2 {
  margin: 10px auto;
}

.product-preview {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 45%;
  height: 27%;
  background-color: #BDC3C7;
  margin: 10px;
}

.product-preview:hover {
  border-style: solid;
  border-color: green;
  border-width: 5px;
  /* background-color: green; */
}

.add-button {
  float: right;
  margin-right: 10px;
}

.column-2 {
  width: 45%;
  height: 550px;
  background-color: #979A9A  ;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
}

.product-detail {
  width: 80%;
  height: 40%;
  background-color: #A6ACAF;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
}

.product-detail h4, h6{
  text-align: left;
}

.product-row-2 {
  display: flex;
}

.product-row-2 img {
  width: 90px;
  height: 90px;
  text-align: left;
}

.product-content {
  text-align: right;
  margin-left: 2vw;
}

.product-row-3 {
  width: 100%;
  height: 100px;
}

.item-options {
  /* margin: auto auto; */
  display: flex;
  justify-content: space-around;
  /* flex-direction: ; */
  /* align-content: center; */
}

.shopping-list {
  width: 95%;
  height: 50%;
  background-color: #A6ACAF;
  margin: auto;
  /* padding: 10px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.shopping-header {
 color: white;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 7px;
}

.shopping-body {
  background-color: #F7F9F9;
  height: 80%;
  overflow-y: auto;
}

.shopping-body table {
  width: 100%;
  color: #282c34;
  background-color: #F7F9F9;
  text-align: center;
}

.shopping-body table tr {
  color: #282c34;
  background-color: #D0D3D4 ;
}

.shopping-footer {
  color: white;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.shopping-footer h6 {
  padding: 7px;
  text-align: center;
  width: 35%;
 }

.single-component {
  background-color: #566573;
}
